* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}
 
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
 
footer {
    background-color: #333;
    color: #f0f0f0;
    text-align: center;
    padding: 10px;
}
 
.conteudo {
    flex: 1 1 20px;
    background-color: #f0f0f0;
    width: 10px;
    padding: 30px;
    margin-bottom: 10px;
}

.logo_img {
    width: 100px;
    float: left;

}
 
.header {
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 45px;
    margin: auto;
}
 
.header a {
    float: left;
    color: rgb(165, 165, 165);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
}


.header a.logo {
    font-size: 25px;
    font-weight: bold;
}
 
.header a.active {
    background-color: dodgerblue;
    color: white;
}
 
.header-right {
    float: right;
    font-weight: 500;
}

.icone-lupa {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 20px;
    width: 40px;
}

.botao {
    display: flex;
    background-color: rgb(210, 19, 19);
    color: #f0f0f0;
    font-weight: 200;
    border: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px 30px 5px 30px;
    font-size: 15px;
    height: 30px;
}

.nav {
    background-color: rgb(219, 223, 223);
    margin: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

.itens-nav {
    display: flex;
    color: #939393;
    margin: auto;
    text-decoration: none;
}

.drop {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px 30px 10x 30px;
    font-size: 15px;
    height: 40px;
    width: 70px;
}

.dropdown {
    display: none;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Posiciona o dropdown abaixo do botão */
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border: 1px solid #ddd;
  }

.dropdown-content a {
    color: black;
    padding: 10px 20px; /* Ajuste o preenchimento para espaçamento entre os itens */
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* Adicione um efeito de destaque ao passar o mouse sobre os itens */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    height: 450px;
    margin-top: 20px;
}

.img_conteudo {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
  }

@media screen and (max-width: 650px) {

    .conteudo {
        flex-direction: column;       
    }

    .header a{
        display: block;
        float: none;
        font-size: 15px;
    }

    .header .header-right,
    .icone-lupa, .botao {
      display: none;
    }

    .itens-nav {
        display: none;
    }

    .dropdown {
        display: block;
        font-size: 16px;
    }

}